<br />

<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">URL Shortener</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Home" class="btn btn-info form-control text-white">
            Create New
        </a> 
    </div>
    <div class="col-12 border p-3" >
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Long Link</th>
                    <th>Short Link</th>
                    <th>Created</th>
                    <th>Use Count</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
<script src="~/js/itemList.js"></script>
 }