<br />
<h3 class="text-info">Invalid Link</h3>
<br />

<div class="container">
    <label class="text-info">This link has been expired. Do you want to create a new one?</label>
    <div class="row p-3 justify-content-start">
        
            <a asp-action="Upsert" asp-controller="Home" class="btn btn-info">
                Create New
            </a>
            <a asp-action="Index" class="btn btn-success ml-2">Main Page</a>
    </div>
    </div>